global !p
def math():
    return vim.eval('vimtex#syntax#in_mathzone()') == '1'
endglobal

snippet c- "C-diff" wA
$\mathbb{C}$-
endsnippet

context math()
snippet res "Residue" wA
\mathrm{Res} (${1:f}, ${2:a}) $0
endsnippet
