global !p
def math():
    return vim.eval('vimtex#syntax#in_mathzone()') == '1'
endglobal

context math()
snippet jkl "Lp space" iA
L^${1:p}(${2:\Omega})$0
endsnippet

context math()
snippet s- "sigma -" iA
\(\sigma\)-$0
endsnippet

context math()
snippet ms "misura esterna" i
\mu^\star
endsnippet
